<div id="homepage" class="container">
    <h1>Welcome </h1>
    <h1>Social Media App</h1>

    {{#if user}}
    <p>you are logged in...</p>
    {{else}}
    <h1>
        <a class="btn-social btn-gplus btn-lg" href="/auth/google">
            <i class="fa fa-google-plus"></i>sign up with Google
        </a>
    </h1>
    <h1>
        <a class="btn-social btn-facebook btn-lg" href="/auth/facebook">
            <i class="fa fa-facebook"></i>sign up with facebook
        </a>
    </h1>
    <h1>    
        <a class="btn-social btn-instagram btn-lg" href="/auth/insagram">
            <i class="fa fa-instagram"></i>sign up with instagram
        </a>
    </h1>
    {{/if}}    
</div>
